

{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block 'body' %}
<div class="main-content-wrap sidenav-open d-flex flex-column">

<div class="main-content">
    <div class="breadcrumb">
        <h1>لوحه التحكم</h1>
        <ul>
            <li><a href=""> |  تعديل موظف   </a></li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <form  method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        {% bootstrap_form workers_form %}
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" type="submit">حفظ التعديلات</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div><!-- Footer Start -->


{% endblock %}