

{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
<div class="main-content-wrap sidenav-open d-flex flex-column">

<div class="main-content">
    <div class="breadcrumb">
        <h1 class="mr-2">قائمة العملاء </h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
        <div class="col-md-2 mt-3 mt-md-0">
            <a href="{% url 'selling:add_customer' %}"><button  class="btn btn-primary btn-block">إضافة عميل جديد</button></a>
        </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card o-hidden mb-4">
                        <div class="card-header d-flex align-items-center border-0">
                            <h3 class="w-50 float-left card-title m-0"></h3>
                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table text-center" id="user_table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">إسم العميل </th>
                                            <th scope="col">الكود </th>
                                            <th scope="col">رقم الهاتف </th>
                                            <th scope="col">هاتف أخر</th>
                                            <th scope="col">هاتف أخر </th>
                                            <th scope="col">تاريخ الإضافة</th>
                                            <th scope="col">أخر تحديث </th>
                                            <th scope="col">العنوان</th>
                                            <th scope="col">البضاعة المسحوبة</th>
                                            <th scope="col">البضاعة الجديدة</th>
                                            <th scope="col">الإعدادات </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for customer in customer_list %}
                                        <tr>
                                            <th scope="row">{{customer.id}}</th>
                                            <td>{{customer.name}}</td>
                                            
                                            <td>{{customer.code}}</td>
                                            <td>{{customer.phone1}}</td>
                                            <td>{{customer.phone2}}</td>
                                            <td>{{customer.phone3}}</td>
                                            <td>{{customer.create_at|date:'d-m-Y'}}</td>
                                            <td>{{customer.update_by|date:'d-m-Y'}}</td>
                                            <td>{{customer.address}}</td>
                                            <td>{{customer.old_profit}}</td>
                                            <td>{{customer.profit}}</td>
                                            <td><a class="text-success mr-2" href="{% url 'selling:edit_customer' customer.id %}"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a><a class="text-danger mr-2" href="{% url 'selling:customer_delete' customer.id %}"><i class="nav-icon i-Close-Window font-weight-bold"></i></a></td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end of main-content -->
</div>
</div>

{% endblock %}


