{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
<div class="main-content-wrap sidenav-open d-flex flex-column">

<div class="main-content">
    <div class="breadcrumb">
        <h1 class="mr-2">تفاصيل خلطات</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="col-md-2 mt-3 mt-md-0">
        <a href="{% url 'products:add_productmix' %}"><button  class="btn btn-primary btn-block">إضافة خلطة</button></a>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card o-hidden mb-4">
                        <div class="card-header d-flex align-items-center border-15">
                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table text-center" id="user_table">
                                    <thead>
                                        
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">إسم خلطة  </th>
                                            <th scope="col">كود خلطة </th>
                                            <th scope="col">وصفة أولى</th>
                                            <th scope="col">وصفة ثانية </th>
                                            <th scope="col">وصفة ثالثة </th>
                                            <th scope="col">وصفة رابعة </th>
                                            <th scope="col">وصفة خامسة </th>
                                            <th scope="col">وصفة بشكل عام</th>
                                            <th scope="col">سعر وصفة</th>
                                            <th scope="col">تاريخ الإضافة </th>
                                            <th scope="col">أخر تحديث </th>
                                            <th scope="col">إعدادات </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in product_mix %}
                                        <tr>
                                            <th scope="row">{{product.id}}</th>
                                            <td >{{product.name}}</td>
                                            <td >{{product.code}}</td>
                                            <td >| {{product.type1}}| <br>| نسبة {{product.type1_count}} |  {{product.price1|floatformat}}</td>
                                            <td >| {{product.type2}}| <br>| نسبة {{product.type2_count}} | {{product.price2|floatformat}}</td>
                                            <td >| {{product.type3}}| <br>| نسبة {{product.type3_count}} | {{product.price3|floatformat}}</td>
                                            <td >| {{product.type4}}| <br>| نسبة {{product.type4_count}} | {{product.price4|floatformat}}</td>
                                            <td >| {{product.type5}}| <br>| نسبة {{product.type5_count}} | {{product.price5|floatformat}}</td>
                                            <td >{{product.description}}</td>
                                            <td >{{product.price }}</td>
                                            <td>{{product.create_at|date:'d-m-Y'}}</td>
                                            <td>{{product.update_by|date:'d-m-Y'}}</td>
                                            <td><a class="text-success mr-2" href="{% url 'products:edit_productmix' product.id %}"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a><a class="text-danger mr-2" href="{% url 'products:productmix_delete' product.id %}"><i class="nav-icon i-Close-Window font-weight-bold"></i></a></td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end of main-content -->
</div>
</div>

{% endblock %}


